@model TrabajoFinal.Models.Course

@{
    ViewBag.Title = "New Course";
}

<h2>New Course</h2>
<hr />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group row">
            <label for="Department" class="control-label text-center col-3">Department</label>
            <div class="col-9">
                <select id="Department" name="DepartmentId" class="form-control">
                    @foreach (var department in (List<TrabajoFinal.Models.Department>)ViewBag.Departments)
                    {
                        <option value="@department.Id">@department.Title</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label text-center col-3" })
            <div class="col-9">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Capacity, htmlAttributes: new { @class = "control-label text-center col-3" })
            <div class="col-9">
                @Html.EditorFor(model => model.Capacity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Capacity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <label for="Instructor" class="control-label text-center col-3">Instructor</label>
            <div class="col-9">
                <select id="Instructor" name="InstructorId" class="form-control">
                    @foreach (var instructor in (List<TrabajoFinal.Models.Instructor>)ViewBag.Instructors)
                    {
                        <option value="@instructor.Id">@instructor.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.InstructorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5">
                @Html.ActionLink("Clear", "Create", null, new { @class = "btn btn-outline-danger float-right" })
                <input type="submit" value="Create" class="btn btn-outline-success float-right mr-4" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
