@model List<TrabajoFinal.Models.Department>

@{
    ViewBag.Title = "Departments List";
}

    <h1 class="text-center mb-5">Departments List</h1>

@using (Html.BeginForm("Search", "Departments"))
{
    <div class="row mb-5">
        
            <label for="Title" class="control-label col-1">Title:</label>
            <input type="text" id="Title" name="Title" class="form-control col-6" placeholder="Ej: Math" />
        
        <div class="form-group col-5 mb-5">
            <input class="btn btn-outline-dark" type="submit" value="Buscar" />
        </div>
    </div>
}

<div class="row mt-5">
    <table class="table table-sm table-bordered table-striped table-hover col-10">
        <thead>
            <tr class="table-secondary">
                <th>Department ID</th>
                <th>Department Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-link" }) |
                            @Html.Partial("_Delete", item)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">No departments available yet</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="col-2">
        @Html.ActionLink("+", "Create", null, new { @class = "btn btn-outline-secondary text-center col-sm-3", style = "border-radius: 50%;" })
    </div>
</div>

